@import "tailwindcss";
@import "tw-animate-css";



@layer base {
  body {
    @apply font-serif capitalize  bg-gray-950  text-white leading-loose ; /* Light background color */
  }
  .active {
    @apply text-green-400 border-b-2 border-green-400;
  }
  .activeMobile
  {
    @apply text-green-400 border-b-2 border-green-400 w-19 m-auto;
  }
  .container {
    @apply mx-auto xl:p-8;
  }
  h1
  {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold mb-4;
  }
  h2
  {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold mb-4;
  }
  h3
  {
    @apply text-[20px] xl:text-[28px] leading-[1.1] font-semibold mb-4;
  }
    .outlinee {
    color: transparent; /* النص شفاف */
    -webkit-text-stroke: 3px rgba(6, 199, 90, 0.986); /* حد النص أبيض */
    -moz-text-stroke: 1px white; /* دعم فايرفوكس */
    text-stroke: 1px white; /* قياسي */
  }
  ::-webkit-scrollbar {
  width: 12px; /* عرض الشريط */
}

::-webkit-scrollbar-track {
  background: transparent; /* خلفية المسار */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #22c55e; /* لون المقبض */
  border-radius: 6px;
  border: 3px solid #1f2937; /* يعطي مساحة حول المقبض */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #16a34a; /* لون عند hover */
}

}